<div class="p-6 shadow-2xl rounded-xl space-y-4 w-96">
  <h1 class="font-semibold text-center text-3xl">Log In</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <% if flash[:alert] %>
      <p class="card bg-red-200 border-red-600 text-sm text-center text-red-600"><%= flash[:alert] %></p>
    <% end %>

    <% if flash[:notice] %>
      <p class="card bg-blue-200 border border-blue-600 text-sm text-center text-blue-600"><%= flash[:notice] %></p>
    <% end %>

    <div class="mt-4 space-y-4">
      <div class="field space-y-2">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field space-y-2">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="flex justify-between items-center text-xs">
        <div class="flex items-center gap-2">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <%= link_to "Forgot password?", new_user_password_path %>
      </div>
    </div>
    <div class="flex flex-col items-center gap-2 mt-6 text-center">
      <%= f.submit "Log in", class: "btn-primary w-full" %>
      <%= link_to "Register", new_user_registration_path, class: "btn-warning w-full" %>
    </div>
  <% end %>
</div>
